* {
    padding: 0;
    margin: 0;
}

.cart {
    text-decoration: none;
    color: black;
}

.cart span {
    font-size: xx-large;
}

i {
    font-size: 3rem;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.products .p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.products .p a {
    text-decoration: none;
    color: white;
    background-color: red;
    font-size: x-large;
    width: 8rem;
    text-align: center;
}

.products .p a:hover {
    background-color: rgb(255, 209, 2);
}


/* Cart page  */
.head {
    display: flex;
    justify-content: space-between;
}

.addToCartDetails {
    width: 50%;
    display: flex;
    justify-content: space-between;

}